/* HAMBURGER */
@media screen and (min-width: 851px) {
    .hamburger-icon, #menu-toggle {
        display: none;
        visibility: hidden;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
    .section-6 .elements .img {
        width: 35%;
    }
    .section-1 .img img {
        width: 70%;
    }
}

@media screen and (max-width: 768px) {
    .section-4 .elements .element-1 {
        display: inline-block;
        text-align: center;
    }
    .section-4 .elements .element-1 .txt-1 {
        width: 90%;
        margin: 0 auto;
    }
    .section-4 .elements .element-1 .txt-1 button {
        margin-bottom: 25px;
    }
}

@media screen and (max-width: 850px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 10px;
        background-color:  var(--header-background);
    }
    .header .header-nav .header-link {
        margin: 0;
    }
    .header-link {
        display: none;
    }
    .hamburger-icon {
        cursor: pointer;
        font-size: 30px;
        margin-right: 10px;
    }

    .menu-toggle {
        display: none;
    }

    .menu-toggle:checked + .hamburger-icon + .links{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 70px;
        right: 0;
        box-shadow: 0px 10px 9px -6px #6e6e6e;
        background-color: var(--header-background);
        padding: 12.5px;
        width: 50%;
    }
    .centerLink, .button-links{
        display: flex;
        flex-direction: column;
        text-align: left;
        justify-content: left;
    }

    a {
        padding: 10px 0;
        font-size: var(--global-font-size);
        color: var(--header-link-color);
    }

    .menu-toggle:checked + .button-links{
        display: none;
        visibility: hidden;
    }

    .header-link button {
        width: auto; height: auto;
        background: var(--global-button-background);
        color: var(--global-button-color);
        padding: 15px 30px;
        border-radius: 100px;
        border: 0;
        gap: 8px;
        flex-shrink: 0;
        cursor: pointer;
    }
    .header-link button img {
        margin-right: 20px;
        height: 16px; width: 16px;
    }
}

@media screen and (max-width: 430px) {
    .section-1 {
        display: block;
    }
    .section-1 .title {
        font-size: 30px;
    }
    .section-1 .txt {
        padding-bottom: 25px;
    }
    .section-1 .txt p {
        font-size: 14px;
    }

    .section-2 {
        padding-top: 0px;
    }
    .section-2 .txt .subtitle, .section-3 .txt .subtitle, .section-4 .txt .subtitle, .section-6 .subtitle {
        font-size: 24px;
    }
    .section-2 .txt p, .section-3 .txt p, .section-4 .txt p, .section-5 .txt p {
        font-size: 14px;
        width: 80%;
        margin: 0 auto;
        line-height: 180%;
    }
    .section-2 .elements, .section-3 .elements, .section-6 .elements, .section-7 .content .txt {
        display: block;
    }
    .section-2 .elements div {
        margin-bottom: 35px;
    }
    .section-2 .elements p {
        width: 90%;
        margin: 0 auto;
    }

    .section-3 .elements {
        width: 90%;
        margin: 0 auto;
        text-align: center;
        padding: 50px 0;
    }
    .section-3 .elements .element-2 img {
        margin-top: 25px;
    }

    .section-4 .txt {
        width: 100%;
    }
    .section-4 .elements .element-1 .img {
        width: 100%;
    }

    .section-5 .txt {
        width: 100%;
    }
    .section-5 .txt h3 {
        font-size: 24px;
    }

    .section-6 h4 {
        font-size: 20px;
    }
    .section-6 p {
        font-size: 14px;
        line-height: 150%;
    }
    .section-6 .elements .img {
        width: 100%;
        padding: 0;
    }

    .section-7 .content .txt .part-1 {
        width: 90%;
        margin: 0 auto;
        padding: 0 10px;
        padding-top: 25px;
        padding-bottom: 25px;
    }
    .section-7 h3 {
        font-size: 24px;
    }
    .section-7 h4 {
        font-size: 20px;
    }
    .section-7 .content .txt {
        padding: 0;
        padding-top: 0px;
    }

    .footer h4 {
        font-size: 16px;
    }
    .footer .part-1 {
        display: block;
        width: 96%;
        margin: 0 auto;
        padding: 25px 10px 25px 10px;
    }
    .footer .about, .footer .explore, .footer .contact, .footer .social {
        width: 100%;
        padding-bottom: 25px;
    }
    .footer center {
        font-size: 14px;
    }
}

@media screen and (max-width: 380px) {
    :root {
        --global-font-size: 12px;
    }
    button {
        font-size: var(--global-font-size);
        padding: 10px;
    }
    .header-link button img {
        margin-right: 10px;
        height: 16px; width: 16px;
    }
}

@media screen and (max-width: 380px) {
    :root {
        --global-font-size: 10px;
    }
    .header-link button img {
        margin-right: 10px;
        height: 10px; width: 10px;
    }
}

@media screen and (max-width: 295px) {
    .header-button {
        font-size: 8px;
    }
}